<div class ="container">
  <div class='row'>
    <div class='col-md-12'>
    <table>
      <thead>
      <tr>
        <th>Id:</th>
        <th>Review Headline:</th>
        <th>Review:</th>
        <th>Rating:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.id}}</td>
        <td>{{review.headline}}</td>
        <td>{{review.reviewText}}</td>
        <td>{{review.rating}}</td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
  </div>
